<div>
  <h3>Vous inscrire</h3>
    <fieldset>
      <label>
        Username:
          <input type="text" [formControl]="username">
      </label>
      <br>
      <label>
        Email:
          <input type="email" [formControl]="email">
      </label>
      <br>
      <label>
        Password:
          <input type="password" [formControl]="password">
      </label>
      <br>
      <label>
        Street:
          <input type="text" [formControl]="street">
      </label>
      <br>
      <label>
        PostalCode:
          <input type="text" [formControl]="postalCode">
      </label>
      <br>
      <label>
        City:
          <input type="text" [formControl]="city">
      </label>
    </fieldset>
    <button type="submit" (click)="inscription()">Inscription</button>

  <h3>Votre profil</h3>
  <label>
    Username: {{ user.username }}
  </label>
  <br>
  <label>
    Email: {{ user.email }}
  </label>
  <br>
  <label>
    Password: {{ user.password }}
  </label>
  <br>
</div>

